<nav class="main-navigation">
	<div class="container">
		<h1 class="main-navigation__logo">
			<a href="/" class="main-navigation__logo-link">MMDb</a>
		</h1>
		<i class="fa fa-bars fa-2x main-navigation__toggle" data-ref="mobileNavToggle"></i>
	<div class="main-navigation__inner">
		<ul class="main-navigation__menu" data-ref="mobileNav">
			<li class="main-navigation__menu-item">
				<a href="/" class="main-navigation__menu-link">Home</a>
			</li>
			<li class="main-navigation__menu-item">
				<a href="/register" class="main-navigation__menu-link">Sign Up</a>
			</li>
			<li class="main-navigation__menu-item">
				<a href="/login" class="main-navigation__menu-link">Sign In</a>
			</li>
		</ul>
	</div>
	</div>
</nav>