<div class="main-nav js-hide" data-ref="mainNav">
	<span class="main-nav__close" data-ref="mobileNavClose"></span>
	<nav>
		<ul>
			<li><a href="#">Test</a></li>
			<li><a href="#">Test</a></li>
			<li><a href="#">Test</a></li>
		</ul>
	</nav>
</div>