{% extends 'layouts/master.twig' %}

{% block content %}

<form role="form" method="POST" action="{{ url('/password/email') }}">
	{{  csrf_field() }}
	<input type="email"name="email" value="{{ old('email') }}">
	<button type="submit">Send Password Reset Link</button>
</form>

{% endblock %}