{% extends 'layouts/master.twig' %}

{% block content %}

	{% include 'partials/nav.twig' %}

	<form method="post" action="/movie/search"data-ref="searchForm">
		{{ csrf_field() }}
		<input type="text" name="query">
	</form>

	<div data-ref="results">

	</div>

{% endblock %}